/* Hide the default checkbox */
.customCheckbox input[type="checkbox"] {
    display: none;
}

/* Define custom checkbox appearance */
.customCheckbox label {
    display: inline-block;
    position: relative;
    padding-left: 25px; /* Adjust as needed */
    cursor: pointer;
    font-size: 16px; /* Adjust as needed */
    color: #333; /* Adjust as needed */
}

/* Custom checkbox design */
.customCheckbox label:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 2px; /* Adjust as needed */
    width: 18px;
    height: 18px;
    border: 2px solid #333; /* Adjust as needed */
    background-color: #fff; /* Adjust as needed */
}

/* Custom checkbox checked state */
.customCheckbox input[type="checkbox"]:checked + label:before {
    background-color: #333; /* Adjust as needed */
}

/* Custom checkbox checkmark */
.customCheckbox label:after {
    content: "\2713"; /* Unicode character for checkmark */
    position: absolute;
    left: 4px; /* Adjust as needed */
    top: -1px; /* Adjust as needed */
    font-size: 14px; /* Adjust as needed */
    color: #fff; /* Adjust as needed */
    display: none;
}

/* Show checkmark when checkbox is checked */
.customCheckbox input[type="checkbox"]:checked + label:after {
    display: block;
}


